<div class="service">
    <div class="container">
        <h1>{{products.title}}</h1>

        <img src="{{products.img}}" alt="{{products.title}}"></img>

        <p class="price big">{{products.price}}</p>

        <p class="flow-text">{{products.text}}</p>
    </div>
</div>