<h3><b>Edit the product </b> {{products.title}}</h3>

<form action="/products/edit" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{products.title}}" required>
        <label for="title">Service Name</label>
        <span class="helper-text" data-error="Enter name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" value="{{products.price}}" >
        <label for="price">Price</label>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" value="{{products.img}}" required>
        <label for="img">Image URL</label>
        <span class="helper-text" data-error="Enter a Url"></span>
    </div>

    <div class="input-field col s6">
        <textarea name="description" id="icon_prefix2" class="materialize-textarea" required>{{products.text}}</textarea>
        <label for="icon_prefix2">Description</label>
    </div>

    <input type="hidden" name="id" value="{{products._id}}"/>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn deep-purple accent-4 btn-large">Edit a Product</button>
</form>

