<h3><b>Views Products.</b></h3>

{{#if service.length}}
<div class="products">
    {{#each service}}
    <div class="card">
        {{!-- product image --}}
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{img}}" alt='{{title}}'>
        </div>

        {{!-- product content --}}
        <div class="card-content">

            {{!-- product title --}}
            <span class="card-title activator grey-text text-darken-4">{{title}}
                {{!-- learn more --}}
                <i class="material-icons right">more_vert</i>
            </span>

            {{!-- product price --}}
            {{#if price}}
            <span class="price">{{price}}</span>
            {{/if}}

            <div class="products-card__buttons">
                <form action="/card/add" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <p><button type="submit" class="waves-effect waves-light btn indigo darken-4">Buy
                        </button></p>
                </form>

                <p><button href="/services/{{_id}}" target="_blank"
                        class="waves-effect waves-light btn indigo darken-4 buy__button">Learn More
                    </button></p>
            </div>

        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>

            <p><a class="waves-effect waves-light btn red" href="/services/{{_id}}/edit?allow=true">Edit a Product</a>
            </p>
            <form action="/services/remove" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button class="btn red">Delete an item</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h3 class="no-product">No products yet</h3>
{{/if}}