<div class="service">
    <div class="container">
        <h1>{{service.title}}</h1>

        <img src="{{service.img}}" alt="{{service.title}}"></img>

        <p class="price big">{{service.price}}</p>

        <p class="flow-text">{{service.description}}</p>
    </div>
</div>